@use "sass:math";

// SASS variables for normal drag handle and bar size.
// Override in your scss file by setting these variables FIRST, then including this file.
$drag-handle-width: 10px !default;
$drag-handle-height: 10px !default;
$drag-bar-size: 6px !default;

// Query to kick us into "mobile" mode with larger drag handles/bars.
// See: https://developer.mozilla.org/en-US/docs/Web/CSS/@media/pointer
$mobile-media-query: '(pointer: coarse)' !default;

// Mobile handle/bar sizes.  Override as above.
$drag-handle-mobile-width: 24px !default;
$drag-handle-mobile-height: 24px !default;

// Handle color/border.
$drag-handle-background-colour: rgba(0, 0, 0, 0.2) !default;
$drag-handle-border: 1px solid rgba(255, 255, 255, 0.7) !default;

$half-drag-handle-height: math.div($drag-handle-height, 2);
$half-drag-handle-width: math.div($drag-handle-width, 2);
$half-drag-bar-size: math.div($drag-bar-size, 2);

.rmcIconContainer {
  width: 15px;
  height: 15px;
  margin-right: 5px;
  cursor: pointer;
  float: right;
  background: #262626;
  opacity: 0.8;
}

.rmcRemove {
  position: absolute;
  top: 6px;
  color: white;

  &:before {
    content: '';
    position: absolute;
    width: 15px;
    height: 1px;
    background-color: currentColor;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}

  &:after {
    content: '';
    position: absolute;
    width: 15px;
    height: 1px;
    background-color: currentColor;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  &:hover {
    cursor: pointer;
  }
}

.numberIcon {
  width: 15px;
  height: 15px;
  float: left;
  font-size: 12px;
  text-align: center;
  margin-left: 5px;
  background: #262626;
  color: white;
  opacity: 0.8;
}

.cropContent {
  //width: calc(100% - 50px);
  //height: 100%;
  float: inside;
  font-size: 12px;
  text-align: center;
  //margin-left: 25px;
  //margin-right: 25px;
  color: white;
  opacity: 0.8;
  overflow: hidden;
  background: #262626;
}

.ordN, .ordNe, .ordNw, .ordS, .ordSe, .ordSw, .ordE, .ordW {
  position: absolute;

  &::after {
    position: absolute;
    content: '';
    display: block;
    width: $drag-handle-width;
    height: $drag-handle-height;
    background-color: $drag-handle-background-colour;
    border: $drag-handle-border;
    box-sizing: border-box;

    // This stops the borders disappearing when keyboard
    // nudging.
    outline: 1px solid transparent;
  }
}

.ordNw {
  top: 0;
  left: 0;
  margin-top: -$half-drag-handle-height;
  margin-left: -$half-drag-handle-width;
  cursor: nw-resize;

  &::after {
    top: 0;
    left: 0;
  }
}

.ordN {
  top: 0;
  left: 50%;
  margin-top: -$half-drag-handle-height;
  margin-left: -$half-drag-handle-width;
  cursor: n-resize;

  &::after {
    top: 0;
  }
}

.ordNe {
  top: 0;
  right: 0;
  margin-top: -$half-drag-handle-height;
  margin-right: -$half-drag-handle-width;
  cursor: ne-resize;

  &::after {
    top: 0;
    right: 0;
  }
}

.ordE {
  top: 50%;
  right: 0;
  margin-top: -$half-drag-handle-height;
  margin-right: -$half-drag-handle-width;
  cursor: e-resize;

  &::after {
    right: 0;
  }
}

.ordSe {
  bottom: 0;
  right: 0;
  margin-bottom: -$half-drag-handle-height;
  margin-right: -$half-drag-handle-width;
  cursor: se-resize;

  &::after {
    bottom: 0;
    right: 0;
  }
}

.ordS {
  bottom: 0;
  left: 50%;
  margin-bottom: -$half-drag-handle-height;
  margin-left: -$half-drag-handle-width;
  cursor: s-resize;

  &::after {
    bottom: 0;
  }
}

.ordSw {
  bottom: 0;
  left: 0;
  margin-bottom: -$half-drag-handle-height;
  margin-left: -$half-drag-handle-width;
  cursor: sw-resize;

  &::after {
    bottom: 0;
    left: 0;
  }
}

.ordW {
  top: 50%;
  left: 0;
  margin-top: -$half-drag-handle-height;
  margin-left: -$half-drag-handle-width;
  cursor: w-resize;

  &::after {
    left: 0;
  }
}

@media #{$mobile-media-query} {
  .ord-n,
  .ord-e,
  .ord-s,
  .ord-w {
    display: none;
  }
}
